:root {
  --zinc-0: #ffffff;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;

  --color-brand-50: #f0f6ff;
  --color-brand-100: #d6e4ff;
  --color-brand-200: #adc8ff;
  --color-brand-300: #84a9ff;
  --color-brand-400: #6690ff;
  --color-brand-500: #3366ff;
  --color-brand-600: #254eda;
  --color-brand-700: #1939b7;
  --color-brand-800: #102693;
  --color-brand-900: #091a7a;

  --shadow-sm: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-md: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--zinc-800);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: var(--zinc-0);
  padding: 2rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.logo img {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--color-brand-600);
}
.logo h1 {
  font-size: 2.4rem;
  background-image: linear-gradient(
    to right,
    var(--color-brand-500),
    var(--color-brand-700)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav ul li {
  font-size: 1.6rem;
}

.nav .login-link {
  display: inline-block;
  padding: 0.8rem 2.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: var(--color-brand-600);
  color: var(--zinc-0);
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav .login-link:hover {
  background: var(--color-brand-700);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-image {
  animation: spin 60s linear infinite;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
